.container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

#currencySelect {
  height: 50px;
  width: 200px;
  background-color: #eac46b;
  border-radius: 5px;
  font-weight: bold;
  color: black;
}

.currency-converter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

.converter-input {
  height: 50px;
  width: 200px;
}

.converted-amount {
  font-size: 24px;
  font-weight: bold;
}
